/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

body.dark {
    background: black;
}

body.light {
    background: #eef1f0;
}

div#root {
    padding: 50px;
}

div.container {
    height: 100%;
    width: fit-content;
    padding: 10px;
    display: flex;
    position: relative;
}

.theme-toggler {
    position: absolute;
    right: 10px;
    z-index: 4;
}

.theme-toggler .fa {
    position: absolute;
    right: 0;
}

div.container.dark {
    color: #dfe0cb;
    border: 1px solid blanchedalmond;
}

div.container.light {
    color: #252521;
    border: 1px solid rgb(61, 58, 53);
}

div.keyboard {
    height: fit-content;
    padding: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div.row {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

div#log-input {
    width: 100%;
    max-height: 60px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.keyboard.dark div.row div#log-input {
    background-color: whitesmoke;
    scrollbar-color: auto;
    border: 3px solid black;
}

.keyboard.light div.row div#log-input {
    background-color: rgb(29, 28, 28);
    scrollbar-color: rgb(38, 37, 37) rgb(86, 90, 86);
    border: 3px solid #eef1f0;
}

div#log-input.focus {
    border: 3px solid cornflowerblue !important;
}

div#log-input span.log-key {
    color: white;
    height: 20px;
    border-radius: 5px;
    margin: 3px;
    padding-top: 3px;
    font-size: 12px;
}

div.keyboard.dark div.row div#log-input span.printable {
    background: rgb(31, 29, 29);
}

div.keyboard.light div.row div#log-input span.printable {
    background: whitesmoke;
    color: black;
}

div#log-input span.non-printable {
    background: tomato;
    text-transform: uppercase;
}

div#log-input span.shortcut {
    background: darkorchid;
}

div#log-input span.log-key:after {
    content: attr(data-log-text);
    padding: 8px;
    margin-top: 8px;
    text-align: center;
}
            
div.row span.key {
    padding: 12px;
    margin: 4px;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 2px;
    text-align: center;
    border-radius: 4px;
    text-transform: lowercase;
}

div.keyboard.dark div.row span.key {
    background-color: #2c2e29;
    border-image-source: linear-gradient(to right top, 
        #f4ee6a, #ffa541,#ff4667, #ea00ab, #1238eb);
}

div.keyboard.light div.row span.key {
    background-color: #c9d1d0;
    border-image-source: linear-gradient(to right top, 
        #3ac99c, #41ff8a,#18a0c2, #0071ea, #0c2280);
}


div.row span.key-a-left {
    text-align: left;
}
div.row span.key-a-right {
    text-align: right;
}

div.row span.key {
    width: 60px;
    height: 60px;
}

div.row span.key-space {
    width: 332px;
}

div.row span.key-s-7 {
    width: 156px;
}

div.row span.key-s-6 {
    width: 150px;
}

div.row span.key-s-5 {
    width: 128px;
}

div.row span.key-s-4 {
    width: 106px;
}

div.row span.key-s-3 {
    width: 100px;
}

div.row span.key-s-2 {
    width: 88px;
}

div.row:nth-child(3) span.key:not(span.key.fa) {
    height: 30px;
    font-size: 10px;
    padding-top: 6px;
}

div.row span.key-text {
    font-size: 12px;
    padding-top: 18px;
}

div.row span.key-icon {
    padding-top: 18px;
}

div.row span.key:after {
    content: attr(data-key);
}

div.row span.key-shift:not(.no-transform) {
    text-transform: capitalize;
}

div.row span.key-shift:after {
    content: attr(data-shift);
}

div.row span.key.key-icon:after, div.row span.key-space:after {
    content: '';
}

div.row span.key.key-icon.with-text:after {
    content: '\20\20'attr(data-key);
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
}

div.row span.key-icon.icon-tab:before {
    content: '\21C4';
}

div.row span.key-icon.icon-enter:before {
    content: '\21B5';
}


div.keyboard.dark div.row span.key.key-clicked,
div.keyboard.dark div.row .hkey-clicked {
    background-color: cornsilk !important;
    color: cornflowerblue;
    transform: scale(0.95);
    font-weight: bold;
}

div.keyboard.light div.row span.key.key-clicked,
div.keyboard.light div.row .hkey-clicked {
    background-color: rgb(41, 40, 35) !important;
    color: rgb(189, 199, 205);
    transform: scale(0.95);
    font-weight: bold;
}

div.row.options {
    flex-direction: column;
    height: fit-content;
}

div.row.options div.keyboard-option {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid wheat;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 0;
}

div.row.options div.keyboard-option label {
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    text-transform: capitalize;
}

div.switch {
    height: 25px;
    width: 50px;
    border-radius: 15px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right top, 
        #b2becf, #8599a1, #637474, #47504b, #2c2e29);
    border: none;
}
div.switch.on {
    background-image: linear-gradient(to right top, 
        #f4ee6a, #ffa541,#ff4667, #ea00ab, #1238eb);
}
div.switch input {
    position: absolute;
    top: -9999px;
}
div.switch span.slider {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 3px 2px;
    position: relative;
}

div.switch.on span.slider {
    left: 26px;
    margin: 0px 2px;
    transition: 0.4s;
}


.mouse {
    width: 500px;
    height: 450px;
    align-self: center;
    margin: 41px 10px 0px 10px;
    border: 2px solid;
    border-image-slice: 1;
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
    flex-direction: column;

}

.mouse.dark {
    border-image-source: linear-gradient(to right top, 
        #b2becf, #8599a1, #637474, #47504b, #2c2e29);
    background-color: #10182b;
}

.mouse.light {
    border-image-source: linear-gradient(to right top, 
        #95afd4, #71a7bc, #637474, #47504b, #2c2e29);
    background-color: #c9d1d0;
}

.mouse-button {
    width: 100%;
    padding: 5px;
    display: flex;
} 

.mouse-touchpad {
    width: 100%;
    height: 100%;
    padding: 2px;
    position: relative;
    outline: none;
}

.mouse-touchpad[data-pointer="hidden"] {
    cursor: none;
}


.mouse-pointer {
    cursor: grabbing;
    position: absolute;
    opacity: 0;
}

.fa-xl {
    font-size: 24px;
}

.mouse-pointer.fa-arrows-v {
    top: 5px !important;
    left: 5px !important;
}

.mouse.dark .mouse-touchpad .mouse-pointer {
    color: white;
}

.mouse.light .mouse-touchpad .mouse-pointer {
    color: rgb(43, 34, 34);
}

.mouse-button .button {
   width: 100%;
   height: 32px;
   margin: 0 2px;
   border: 1px solid;
   border-image-slice: 1;
}

.mouse.dark .mouse-button .button {
    background-color: #2c2e29;
    border-image-source: linear-gradient(to right top, 
    #f4ee6a, #ffa541,#ff4667, #ea00ab, #1238eb);
}

.mouse.light .mouse-button .button {
    background-color: #c9d1d0;
    border-image-source: linear-gradient(to right top, 
        #3ac99c, #41ff8a,#18a0c2, #0071ea, #0c2280);
}